# Ignore environment variable files
.env
.env.*

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs and databases
*.log
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
.ipynb_checkpoints/